# --- Rust/Cargo ---
# Скрытые папки сборки, которые Cargo создает для каждого крейта
**/target/

# --- Скомпилированные файлы и артефакты ---
# Локальные исполняемые файлы в корне и подпапках
*.exe
*.dll
*.so
*.dylib
*.pdb

# Готовые утилиты в папке тестов, и в сравнениях
poligon/
comparisons/

# --- Логи и временные файлы ---
poligon/logs.txt
*.log

# --- Специфично для Windows / IDE ---
.DS_Store
Thumbs.db
.idea/
.vscode/
*.suo
*.ntvs*
*.njsproj
*.sln
*.swp