# --- Rust/Cargo ---
# Скрытые папки сборки, которые Cargo создает для каждого крейта
**/target/

# --- Скомпилированные файлы и артефакты ---
# Локальные исполняемые файлы в корне и подпапках
*.exe
*.dll
*.so
*.dylib
*.pdb
w16-project workspace.code-workspace
py.py
gifs/
w16-irf/
packages/

# --- Специфично для Windows / IDE ---
Thumbs.db
.vscode/
*.suo
*.ntvs*
*.njsproj
*.sln
*.swp